
.HomePage {
    box-sizing: border-box;
    height: 100vh;
    position: relative;
}

.HomePage h1 {
    box-sizing: border-box;
    margin: 0;
    padding-top: 0rem;
    width: 100%;
    position: absolute;
    top: 2rem;
    color: #fff;
    font-size: 6rem;
}

.gridPage {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.gridItem {
    flex: 1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.gridItem p {
    width: 100%;
    margin: 0px;
    font-size: 1.5rem;
}

.cinepolis-color {
    background-color: var(--cinepolis-color);
}

.vips-color {
    background-color: var(--vips-color);
}

.viajes-color {
    background-color: var(--miescape-color);
}

img.icon {
    max-width: 50px;
    margin: 3rem 0;
}

img.iconss {
    margin: 1rem 0;
}


@media screen and (max-width: 767px) {
    .HomePage h1 {
        background-color: var(--red-rv-t);
        position: relative;
        top: 0;
        margin: 0;
        padding: 1rem 0;
        font-size: 1.8rem;
        height: 10vh;
    }
    .gridPage {
        flex-direction: column;
        height: auto;
    }

    img.icon {
        margin: 1rem 0 0;
    }

    img.iconss {
        margin: 1rem 0;
        max-width: 60%;
    }
    .gridItem p {
        width: 100%;
        margin: 0px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 375px){
    .HomePage h1 {
        font-size: 1.6rem;
    }
}